<nav class="light-blue lighten-1" role="navigation">

</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Angular 4 test project</h1>

    <br><br>

    <div class="row center">
      <div class="input-field col s6 offset-s3">
        <input [(ngModel)]="tagName" name="tagName" id="last_name" type="text" class="validate">
        <label for="last_name">Enter tag please</label>
      </div>
    </div>

    <div class="row center">
      <button class="btn btn-primary" (click)="getPostsByTag()">Get posts by tag</button>
    </div>

  </div>
</div>


<div *ngIf="posts" class="container">
  <div class="section">

    <div class="row">
      <div *ngFor="let post of posts.statuses" class="col s12 m6">
        <div class="twit-block">
          <div [style.background]="getBackground(post.user.profile_background_color)">
            <img class="twit-background" src="{{ post.user.profile_background_image_url }}">
          </div>
          <div class="twit-user-img-block">
            <img class="twit-user-img" src="{{ post.user.profile_image_url }}">
          </div>
          <h5 class="center">{{ post.user.time_zone }}</h5>

          <i class="light twit-date">{{ post.created_at }}</i>
          <p class="light twit-text">{{ post.text }}</p>

        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>
